In [3]:
from pandas_datareader import data

In [9]:
myeg = data.DataReader('0138.KL', 'yahoo','2015-01-01')

In [10]:
myeg

               High      Low     Open    Close      Volume  Adj Close
Date
2015-01-02  0.70833  0.70000  0.70500  0.70000   4036800.0   0.653930
2015-01-05  0.72500  0.70333  0.70833  0.72167  25004400.0   0.674174
2015-01-06  0.71667  0.69667  0.71667  0.71167  22281600.0   0.683782
2015-01-07  0.79333  0.71500  0.71500  0.78333  27972600.0   0.752634
2015-01-08  0.94667  0.81333  0.83333  0.90000  58128000.0   0.864732
...             ...      ...      ...      ...         ...        ...
2019-12-06  1.16000  1.13000  1.16000  1.15000  12196600.0   1.150000
2019-12-09  1.16000  1.13000  1.14000  1.14000  10390500.0   1.140000
2019-12-10  1.14000  1.10000  1.14000  1.12000  19974600.0   1.120000
2019-12-11  1.12000  1.07000  1.11000  1.10000  28364400.0   1.100000
2019-12-12  1.11000  1.09000  1.10000  1.11000   2189500.0   1.110000

[974 rows x 6 columns]

In [14]:
type(myeg)

pandas.core.frame.DataFrame

In [20]:
myeg.to_json('C:/temp/mok.json')